<div class="flex flex-col flex-auto flex-shrink-0 antialiased bg-gray-50 text-gray-800 dark:bg-black">
    <div class="fixed flex flex-col top-0 left-0 w-64 bg-white h-full border-r dark:border-gray-700">
        <div class="flex items-center justify-center h-14 border-b dark:border-gray-700 dark:bg-gray-900 dark:text-white">
            <div><%- title %></div>
        </div>
        <div class="overflow-y-auto overflow-x-hidden flex-grow dark:bg-gray-900 dark:text-white text-gray-600">
            <ul class="flex flex-col py-4 space-y-1">
                <li class="px-5">
                    <div class="flex flex-row items-center h-8">
                        <div class="text-sm font-light tracking-wide">Menu</div>
                    </div>
                </li>
                <li>
                    <% if(active === "home") {%>
                        <a href="/admin" class="relative flex flex-row items-center h-11 focus:outline-none bg-gray-50 text-gray-800 dark:bg-gray-800 dark:text-gray-300 border-l-4 border-transparent border-indigo-500 pr-6">
                    <% } else { %>
                        <a href="/admin" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-300 border-l-4 border-transparent hover:border-indigo-500 pr-6">
                    <% } %>

                  <span class="inline-flex justify-center items-center ml-4">
                     <i class="w-5 h-5 fa-solid fa-home"></i>
                  </span>
                        <span class="ml-2 text-sm tracking-wide truncate">Dashboard</span>
                    </a>
                </li>
                <li class="px-5">
                    <div class="flex flex-row items-center h-8">
                        <div class="text-sm font-light tracking-wide">Pages</div>
                    </div>
                </li>
                <li>
                    <% if(active === "newPage") {%>
                    <a id="crud-modal-button" data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="relative flex flex-row items-center h-11 focus:outline-none bg-gray-50 text-gray-800 dark:bg-gray-800 dark:text-gray-300 border-l-4 border-transparent border-indigo-500 pr-6">
                    <% } else { %>
                        <a id="crud-modal-button" data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-300 border-l-4 border-transparent hover:border-indigo-500 pr-6">
                    <% } %>
                          <span class="inline-flex justify-center items-center ml-4">
                              <i class="w-5 h-5 fa-solid fa-newspaper"></i>
                          </span>
                          <span class="ml-2 text-sm tracking-wide truncate">New Page</span>
                    </a>
                </li>
                <li>
                    <% if(active === "editpages") {%>
                        <a href="/admin/pages/edit" class="relative flex flex-row items-center h-11 focus:outline-none bg-gray-50 text-gray-800 dark:bg-gray-800 dark:text-gray-300 border-l-4 border-indigo-500 pr-6">
                    <% } else { %>
                        <a href="/admin/pages/edit" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-300 border-l-4 border-transparent hover:border-indigo-500 pr-6">
                    <% } %>
                  <span class="inline-flex justify-center items-center ml-4">
                        <i class="w-5 h-5 fa-solid fa-pen-to-square"></i>
                  </span>
                        <span class="ml-2 text-sm tracking-wide truncate">Edit Pages</span>
                        <span class="px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-green-500 bg-green-50 rounded-full">15</span>
                    </a>
                </li>
                <li class="px-5">
                    <div class="flex flex-row items-center h-8">
                        <div class="text-sm font-light tracking-wide">Settings</div>
                    </div>
                </li>
                <li>
                    <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-300 border-l-4 border-transparent hover:border-indigo-500 pr-6">
                  <span class="inline-flex justify-center items-center ml-4">
                        <i class="w-5 h-5 fa-solid fa-user"></i>
                  </span>
                        <span class="ml-2 text-sm tracking-wide truncate">Profile</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-300 border-l-4 border-transparent hover:border-indigo-500 pr-6">
                  <span class="inline-flex justify-center items-center ml-4">
                      <i class="w-5 h-5 fa-solid fa-cog"></i>
                  </span>
                        <span class="ml-2 text-sm tracking-wide truncate">Settings</span>
                    </a>
                </li>
                <li>
                    <a id="theme-toggle" href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
                          <span class="inline-flex justify-center items-center ml-4">
                              <i class="w-5 h-5 fa-solid fa-moon hidden" id="theme-toggle-dark-icon"></i>
                              <i class="w-5 h-5 fa-solid fa-sun hidden" id="theme-toggle-light-icon"></i>
                          </span>
                        <span class="ml-2 text-sm tracking-wide truncate" id="theme-toggle-text">
                            Dark Mode
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-300 border-l-4 border-transparent hover:border-indigo-500 pr-6">
                  <span class="inline-flex justify-center items-center ml-4">
                        <i class="w-5 h-5 fa-solid fa-sign-out"></i>
                  </span>
                        <span class="ml-2 text-sm tracking-wide truncate">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>